/* css for index.html */
@import url(layout.css);
@import url(components.css);

.vertical-space-1 {
    height: 1rem;
}
.vertical-space-2 {
    height: 2rem;
}
.vertical-space-3{
    height: 3rem;
}
.vertical-space-4{
    height: 4rem;
}
.welcome-section {
    background: #111827;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.5), /* Top gradient color (semi-transparent black) */
      rgba(0, 0, 0, 0.5)  /* Bottom gradient color (semi-transparent black) */
    ),url(/assets/images/dining-hall.jpg);
    color: white;
    flex-grow: 2; /* Pushes this section to take up available space */
  
  }
  
.card-section {
    background-color: #B18E3F;
    color: white;
    flex-grow: 1; /* Pushes this section to take up available space */
  }
.news-section {
    background-color: #1E1E2E;
    color: white;
    flex-grow: 2; /* Pushes this section to take up available space */
  }
  .welcome-text-container {
    margin: 10rem 0rem;
    padding: 0 8rem;
}
