/* css for index.html */
@import url(layout.css);
@import url(components.css);

.flex {
  display: flex;
}
.welcome-section {
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size:cover;
    transition: background-image 0.5s ease-in-out;
    color: white; 
    flex-grow: 2; /* Pushes this section to take up available space*/ 
}
  .welcome-section p{
    color: white;
}
  .welcome-section h1{
    color: white;
}
  .card {
    border-radius: 0.4rem;
    padding: 2rem;
    background-color: var(--secondary-light-color);
    width: 20rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
  .card:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}
.card-section {
    display: flex;
    justify-content: space-around;
    padding: 4rem 7rem;
    background-color: var(--primary-light-color);
    min-height: fit-content;
    flex-grow: 1; /* Pushes this section to take up available space */
}
  .title-section {
    font-family: var(--heading-font);
    font-weight: bold;
  
}

  .description-section p{
    font-size: var(--font-size-small);

  }
  .news-card {
    border-radius: 0.4rem;
    background-color: var(--secondary-light-color);
    width: 20rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    overflow: hidden;
  }
  .news-card:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
  }
.news-section {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0rem;
    background-color: var(--secondary-light-color);
    flex-grow: 2; /* Pushes this section to take up available space */
  }
  .welcome-text-container {
    margin: 10rem 0rem;
    padding: 0 8rem;
}
.card-image-section img{
  width: 20rem;
  height: 8rem;

}
.news-card-content-section {
  padding:1rem 1rem;
}

.news-card-link-section a{
  color: var(--light-calendar-button-color);
  display: inline;
  cursor: pointer;
}

.news-card-link-section p{

  color: var(--light-calendar-button-color);
}
.news-card-link-section a:hover,
.news-card-link-section p:hover{
  color: var(--accent-color);

}

.news-card-link-section p, .news-card-link-section i{
  display: inline;
  padding:0 0.2rem;
}