@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
 /* Colors */

    /* Light mode: */
--primary-light-color: #EFEFF0; /* Background color */
  --secondary-light-color: #FFFFFF; /* Cards */
  --accent-color: #B18E3F; /* Headings, buttons (Gold) */
  --button-color: #9BD7F1; /* Footer, buttons (Light blue)*/
  --primary-light-text-color: #000000; /* Main text */
  

/* Dark mode: */
 --primary-dark-color: #111827; /* Background color */
 --secondary-dark-color: #1E1E2E; /* Cards, footer */
 --accent-color: #B18E3F; /* Headings, buttons (Gold) */
 --primary-dark-text-color: #94949B; /* Main text (Grey) */

 /* Fonts */
--primary-font: 'Roboto Slab', serif;
--heading-font: 'Playfair Display', serif;
--fallback-font: Georgia, serif;

  /* Font Sizes */
--font-size-heading: 2.5rem;     /* Main Heading (e.g., "About Us") */
--font-size-subheading: 1.8rem; /* Section Titles (e.g., "Our Mission", "A Legacy of Excellence") */ 
--font-size-sub-subheading: 1.5rem; /*card titles*/
--font-size-body: 1rem; /* Regular text */ 
--font-size-small: 0.875rem; /* Secondary text, footer links */ 
--font-size-nav: 1.1rem; /* Navigation links */
--font-size-stats: 1.5rem; /* Numbers in the stats section */

/* Spacing */
.vertical-space-1 {
  height: 1rem;
}
.vertical-space-2 {
  height: 2rem;
}
.vertical-space-3{
  height: 3rem;
}
.vertical-space-4{
  height: 4rem;
}



/* page layout */
* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-size: var(--font-size-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}
h1 {
  font-size: var(--font-size-heading);
}
h2 {
  font-size: var(--font-size-subheading);
}
h3 {
  font-size: var(--font-size-sub-subheading);

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body spans the full viewport height */
}
header {
  background-color: var(--secondary-light-color);
  height: fit-content;
  min-height: 10vh;
}

footer {
  background-color: var(--button-color);
  height: fit-content;
  flex:1
}

}