@import url("layout.css");
@import url("components.css");



body {
    background-color: var(--primary-light-color);
}
.container {
    width: 200px;
    height: 100px;
    color: black;
    

}
.first-container {
    background-color: blue;
    flex:4;

}
.second-container {
    background-color: aqua;
    flex:2;
}
.third-container {
    background-color: bisque;
    flex:1;
}
.flex-container {
    background-color: var(--secondary-dark-color);
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.75rem; /* 12px 24px */
  font-size: 1rem; /* 16px */
  font-weight: bold;
  border: none;
  border-radius: 0.4rem; 
  cursor: pointer;
  transition: background 0.3s ease;

}
.primary-btn {
    background-color: var(--accent-color);
    color: white;
}
.primary-btn:hover {
    background-color: #977423;
}
.secondary-btn {
    background-color: var(--button-color);
}
.secondary-btn:hover{
    background-color: #93c6dc;
}


.navbar{
    display: flex;
    height: fit-content;
}


.leftnav{
    padding-top: 10px;
    display: flex;
    width: 30%;
        
}
.SchDetails{
    
    
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.4rem;
        
}

.SchName{

    color: var(--accent-color);
    font-family: var(--heading-font);
    font-size: var(--font-size-nav);

}    
.SchMotto{

    color: var(--primary-light-text-color);
    font-family: var(--primary-font);
    font-size: var(--font-size-small);

}
.rightnav{
    width:70%;
    display: flex;
    padding-right: 30px;
    flex-direction: row;
    justify-content: flex-end;

    
} 
.navlist {

    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    align-items: center;
       
}

.navlist li{
    list-style: none;
    

}

a{
    color: var(--primary-light-text-color);
    text-decoration: none;
    font-family: var(--primary-font);
    
}

a:hover{
    color:var(--accent-color);
}
a:active{
    color:var(--accent-color);
}


