@import url("layout.css");
@import url("components.css");


body {
    background-color: var(--primary-light-color);
}
.container {
    width: 200px;
    height: 100px;
    color: black;
    

}
.vertical-space-1 {
    height: 1rem;
}
.vertical-space-2 {
    height: 2rem;
}
.vertical-space-3{
    height: 3rem;
}
.vertical-space-4{
    height: 4rem;
}
.first-container {
    background-color: blue;
    flex:4;

}
.second-container {
    background-color: aqua;
    flex:2;
}
.third-container {
    background-color: bisque;
    flex:1;
}
.flex-container {
    background-color: var(--secondary-dark-color);
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}
.welcome-text-container {
    margin: 10rem 0rem;
    padding: 0 8rem;
}

